/* File: src/App.css */

html,
body {
    overflow: hidden;
    
}


.app-container {
  width: 100vw;
  height: 100vh;
  /* background-color: #3C3A38; */
  background-image: url('/public/chess_image.jpg');

  display: flex;
  margin:0 ;
  padding: 0;
  flex-direction: column;
  align-items: center;
}
