/* File: src/components/Navbar.css */

.navbar {
    width: 91.666667%;
    height: 40px;
    padding-top: 0/* 16px */;
    padding-bottom: 0/* 16px */;
    margin-left: 0;
    margin-right: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #AA01D2;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    font-size: 1rem/* 30px */;
    line-height: 1rem/* 36px */;

    
  }
  
  .nav-button {
    background-color: #AA01D2;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .nav-button:hover {
    background-color: #e810f0;
  }

  .buttonStyle {
    display: flex;
    gap: 1rem; /* Adds space between the buttons */
  }
  