body {
    font-family: Arial, sans-serif;
    overflow: hidden;
   
  }

  
  .auth-container {
    max-width: 250px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .auth-container h2 {
    margin-bottom: 20px;
  }
  
  .auth-container form div {
    margin-bottom: 15px;
  }
  
  .auth-container form div label {
    display: block;
    margin-bottom: 5px;
  }
  
  .auth-container form div input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .auth-container button {
    width: 100%;
    padding: 10px;
    background-color: #AA01D2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .auth-container button:hover {
    background-color: #AA01D2;
  }
  
  .auth-container p {
    text-align: center;
  }
  
  .auth-container p a {
    color: #AA01D2;
  }



  
  